<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chatwithnileshboss</title>
  <link rel="stylesheet" type="text/css" href="../static/css/chat.css">
</head>
<div class="Chatwithnileshboss">
  <!-- logo of company-->
  <div class="img"><img src="../static/img/google-messages-icon.png" alt="error" height="50px" width="50px"></div>
  <div class="chatbox">
    
  </div>
  <div class="send" id="send">
    <input id="text" type="text">
    <button id="land"  onclick="bhejo()" >send</button>
  </div>
</div>
<audio id="audio" src="../static/audio/Uggg sent message.mp3"></audio>
<audio id="receive-audio" src="../static/audio/WhatsApp Notification ! WhatsApp Message ! Notification.mp3"></audio>
<!-- js file here-->
<script defer="" src="https://chatwithnileshboss.herokuapp.com/socket.io/socket.io.js"></script>
<script defer="" src="../static/fontjs/client.js"></script>