.img {
    margin: auto;
    width: fit-content;

}

.Chatwithnileshboss {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: auto;
  
}

html,
body {

    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-image: linear-gradient(0deg, rgb(164, 200, 240), rgba(228, 225, 219, 1));
}

/* chatbox related */
.chatbox {

    overflow-y: scroll;
    height: 85%;
    padding: 10px;
}

.left {

    padding: 6px;
    max-width: 40%;
    border: 1px solid rgb(156, 155, 155);
    border-radius: 10px;
    clear: both;
    float: left;

    font-weight: 800;
    background: rgb(219, 218, 218);
}

.right {
    font-weight: 800;
    border-radius: 10px;
    padding: 6px;
    max-width: 40%;
    border: 1px solid rgb(156, 155, 155);
    clear: both;
    float: right;
    background: rgb(219, 218, 218);
}

.send {
    width: fit-content;
    margin: auto;

}

#text {
    padding: 5px;
    border-radius: 10px;
    height: 20px;
    width: 200px;
}

#land {
    background-color: rgb(34 28 27);
    border-radius: 10px;
    color: white;
    border: white 2px solid;
    padding: 10px;

}

