.img {
    margin: auto;
    width: fit-content;

}

.Chatwithnileshboss {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
   
   
    overflow-y:hidden;
    background-repeat: no-repeat;
    background-image: linear-gradient(0deg, rgb(164, 200, 240), rgba(228, 225, 219, 1));
}



/* chatbox related */
.chatbox {

    overflow-y: scroll;
    height: 80%;
    padding: 10px;
  
}

.left {

    padding: 6px;
    max-width: 40%;
    border: 1px solid rgb(156, 155, 155);
    border-radius: 10px;
    clear: both;
    float: left;

    font-weight: 800;
    background: rgb(219, 218, 218);
}

.right {
    font-weight: 800;
    border-radius: 10px;
    padding: 6px;
    max-width: 40%;
    border: 1px solid rgb(156, 155, 155);
    clear: both;
    float: right;
    background: rgb(219, 218, 218);
}

.send {
    width: fit-content;
    margin: auto;

}

#text {
    padding: 5px;
    border-radius: 10px;
    height: 20px;
    width: 200px;
    color: rgb(145, 255, 0) ;
    background-color: rgb(0, 0, 0);
}

#land {
    background-color: rgb(86, 179, 0);
    border-radius: 10px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border: rgb(0, 0, 0) 2px solid;
    padding: 10px;

}

